body {
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    color :#368D85;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

nav ul li a {
    color: #368D85;
    text-decoration: none;
}

.logo img {
    width: 50px;
}

main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}



.content a {
    background-color:  #368D85;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    width: 550px;
    height:70px;
    margin :2rem;
}

.content a:hover {
    scale: 1.05;
    color: #fff;
}

header{
    background-color:  #368D85;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height:70px;
    padding-top: 1rem;
}

form {
    margin-top :2rem;
    margin-bottom :2rem;
    margin-right :10rem;
    margin-left :10rem;
    padding: 2rem;
    border-style: solid;
    border-radius: 5px;
    color :#368D85;
}

.kembali {
    background-color:  #368D85;
    border-radius: 5px;
    text-decoration: none;
    margin :2rem;
    padding: 1rem;
    color: #ffffff;
}

.opsisakit{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.lingkaran{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color:  #368D85;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.opsisakit center{
    width: 300px;
    margin-bottom :3rem;
    color :#368D85;
    font-size: 20px;

}

.tdata {
    margin: 2rem;
    border-style: solid;
    border-color: #368D85;
    border-radius: 5px;
}